.interiores .persiana__banner:nth-of-type(2) {
    background-image: url(../../assets/imgs/interiores-image-1.jpg);
}

.interiores .persiana__banner:nth-of-type(1) {
    background-image: url(../../assets/imgs/interiores-image-2.jpg);
}

@media screen and (min-width: 768px) {
    .interiores .persiana__banner:nth-of-type(2) .persiana__container {
        margin-inline-start: auto;
    }

    .interiores .persiana__banner:nth-of-type(2) {
        background-image: url(../../assets/imgs/interiores-image-1-pc.jpg);
    }

    .interiores .persiana__banner:nth-of-type(1 ) {
        background-image: url(../../assets/imgs/interiores-image-2-pc.jpg);
    }
}