.wrapper-content__header {
    background-color: var(--bgOne);
    font: 700 1rem var(--fontBase);
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-inline-size: 1366px;
    margin-inline: auto;
    padding: 1rem;
}

.header__title {
    font-size: 0;
}

.header__navbar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100%;
    padding: 1rem;
    background-color: var(--bgOne);
    transform: translatey(62px);
}

.header__menu {
    margin: 0;
    padding: 0;
}

.header__submenu {
    display: none;
    padding: 1rem 1rem 0;
}

.header__item {
    list-style: none;
    margin-block-end: 1rem;
}

.header__submenu-item {
    list-style: none;
    margin-block-end: 1rem;
}

.header__menu .header__item:nth-child(4),
.header__submenu .header__submenu-item:nth-child(3) {
    margin-block-end: 0;
}

.header__link,
.header__submenu-link {
    color: var(--colorOne);
    text-decoration: none;
}

.header__arrow-icon {
    margin-inline-start: 0.188rem;
}

.header__btn {
    padding: 0;
    background-color: transparent;
    font-size: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.header__btn-icon {
    block-size: 26px;
    inline-size: 26px;
    pointer-events: none;
}

@media screen and (min-width: 768px) {
    .header__navbar {
        display: initial;
        position: initial;
        inline-size: initial;
        padding: 0;
        background-color: var(--bgOne);
        transform: initial;
    }

    .header__menu {
        display: flex;
        gap: 1rem;
    }

    .header__item {
        margin: 0;
    }

    .header__menu .header__item:nth-child(3) {
        position: relative;
    }

    .header__submenu {
        position: absolute;
        top: 41px;
        left: -10px;
        inline-size: 201px;
        padding: 1rem;
        background-color: var(--bgOne);
        border-radius: 8px;
    }

    .header__btn {
        display: none;
    }
}

/* -------- Animations -------- */

.rotate-up {
    animation: 350ms rotateUp forwards;
}

@keyframes rotateUp {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-180deg);
    }
}

.rotate-down {
    animation: 350ms rotateDown forwards;
}

@keyframes rotateDown {
    from {
        transform: rotate(-180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* -------- (Animations) -------- */